.blogItem{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 60px;
}
@media only screen and (max-width: 767px){
    .blogItem{
        display: block;
    }
}
.blogItem:nth-child(even){
    flex-direction: row-reverse;
}
.blogThumb{
    width: 46%;
}
@media only screen and (max-width: 767px){
    .blogThumb{
        width: 100%;
    }
}
.blogContent{
    width: calc(100% - 70%);
    margin-left: 80px;
}
:global(.rtl) .blogContent {
    margin-left: 0;
    margin-right: 80px;
}
@media only screen and (max-width: 1023px){
    .blogContent{
        width: calc(100% - 60%);
        margin-left: 50px;
    }
    :global(.rtl) .blogContent {
        margin-left: 0;
        margin-right: 50px;
    }
}
@media only screen and (max-width: 767px){
    .blogContent{
        width: 100%;
        margin-left: 0;
        margin-top: 20px;
    }
    :global(.rtl) .blogContent {
        margin-right: 0;
    }
}
.blogItem:nth-child(even) .blogContent{
    margin-left: 0;
    margin-right: 80px;
    text-align: right;
}
:global(.rtl) .blogItem:nth-child(even) .blogContent {
    margin-right: 0;
    margin-left: 80px;
}
@media only screen and (max-width: 1023px){
    .blogItem:nth-child(even) .blogContent{
        margin-right: 50px;
    }
    :global(.rtl) .blogItem:nth-child(even) .blogContent {
        margin-right: 0;
        margin-left: 50px;
    }
}
@media only screen and (max-width: 767px){
    .blogItem:nth-child(even) .blogContent{
        margin-right: 0;
        text-align: left;
    }
    :global(.rtl) .blogItem:nth-child(even) .blogContent {
        margin-right: 0;
    }
}
.customBtn{
	display: flex;
	align-items: center;
	gap: 0.5rem;
	font-weight: 700;
	color: var(--primary-color);
}
.customBtn svg{
	width: 18px;
}
.blogItem:nth-child(even) .customBtn{
    justify-content: flex-end;
}
:global(.rtl) .blogItem:nth-child(even) .customBtn {
    justify-content: flex-start;
}