.sidebarLink{
    @apply font-medium text-[12px]
}
.sidebarLink svg{
    width: 22px;
    margin: 0 auto;
}
.sidebarLinkActive{
    color: #ffffff;
    @apply font-semibold text-[12px]
}
.sidebarLinkActive svg{
    width: 22px;
    margin: 0 auto;
}
.sidebarSubLink{
    color: rgba(60,60,60,0.7);
    font-size: 13px;
    font-weight: 500;
    display: block;
    transition: all 0.5s;
}
.sidebarSubLinkActive{
    color: #ffffff;
    font-size: 13px;
    font-weight: 500;
    display: block;
    border-radius: 8px;
    transition: all 0.5s;
}
.text--base{
	color: #2e71e5;
}