.serviceItem{
    background: linear-gradient(177deg, var(--primary-color), rgba(34, 195, 121, 0));
    border-radius: 8px;
    padding: 1px;
    overflow: hidden;
}
.serviceInnerItem{
    position: relative;
    background: linear-gradient(177deg,#081e32,#011120);
    padding: 30px;
    border-radius: 8px;
    z-index: 2;
    overflow: hidden;
    transition: all 0.25s ease-out;
}
.serviceItem:nth-of-type(2n){
    background: linear-gradient(177deg, #f9b42e, rgba(34, 195, 121, 0));
}
.serviceItem:nth-of-type(3n){
    background: linear-gradient(177deg, #22c379, rgba(34, 195, 121, 0));
}
.serviceItem:nth-of-type(2n) .serviceIcon{
    background-color: #f9b42e;
}
.serviceItem:nth-of-type(3n) .serviceIcon{
    background-color: #22c379;
}
.serviceIcon{
    background-color: var(--primary-color);
    @apply w-12 h-12 flex justify-center items-center text-white rounded-lg text-4xl
}