.chooseItem{
    position: relative;
    background: linear-gradient(137.45deg, #081e32 7.42%, #011120 104.16%);
    padding: 30px;
    border-radius: 8px;
    z-index: 2;
    overflow: hidden;
    text-align: center;
    transition: all 0.25s ease-out;
}
.chooseItem:nth-child(odd){
    margin-top: 60px;
}
.chooseItem:hover{
    transform: translateY(-5px);
}