.contactElement{
    position: absolute;
    content: '';
    top: -120px;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(56.99999999999999% 63% at 50% -27.200000000000003%, #bcf682 0%, rgb(85, 225, 221) 21.405194256756758%, rgb(0, 100, 158) 42.80862894144144%, var(--token-dded8cf1-7dcd-4887-bb8e-4b020496542d, rgb(1, 17, 32)) 100%);
    z-index: -1;
}
.contactFormWrapper{
    background: linear-gradient(177deg, #2e71e5, rgba(34, 195, 121, 0));
    border-radius: 8px;
    padding: 1px;
    overflow: hidden;
    margin-left: 40px;
}
.contactForm{
    position: relative;
    background: linear-gradient(177deg,#081e32,#011120);
    padding: 40px;
    border-radius: 8px;
    z-index: 2;
    overflow: hidden;
    transition: all 0.25s ease-out;
}